/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/

html {
    margin: auto;
	font-family: "Rubik", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Fonts
  ========================================
*/

h1 {
	font-size: 2.75rem;
	font-weight: 700;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
}

h4 {
	font-size: 2rem;
	font-weight: 500;
}

/*
  ========================================
  Links
  ========================================
*/
  
a:hover {
	color: rgb(0, 0, 0);
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

/*
  ========================================
  Header
  ========================================
*/

.header-main {
	background-image: url(../images/athletes/7.jpg);
	background-attachment: scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0 10%;
	text-align: center;
}

.header-links {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 10%;
	padding-top: 2.5%;
}

.header-links li {
	padding: 1%;
	margin: 4.5% 0;
	border-radius: 1rem;
	font-size: 2rem;
	font-weight: 500;
}

.header-links li:hover {
	background-color: rgba(255, 255, 255, 0.26);
}

.title-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20rem 0 12.5rem;
	font-size: 7rem;
	font-weight: 700;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.158);
	color: #2e2d2d;
	
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10%;
	text-align: center;
	padding-bottom: 5%;
	font-size: 2.75rem;
	font-weight: 400;
	color: rgb(0, 0, 0);
}

.header-table {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 5%;
	text-align: center;
	background-color: #000000;
	box-shadow: 0px 1px #dfe2e5;
	padding: 2.5% 5%;
}

.header-table a{
	color: #fff;
}

.header-table a:hover {
	color: rgba(255, 255, 255, 0.911);
}

.table-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items:flex-end;
	font-size: 1.25rem;
	font-weight: 400;
	gap: 2.5rem;
}
/*
  ========================================
  Table
  ========================================
*/

th, td {
	padding: 1rem 2rem;
	text-align:center;
	vertical-align:middle;
}
th:hover {
	cursor: pointer;
}
table {
	margin: 1rem 1rem 2rem 1rem;
}

thead th {
	color: gray;
	font-size:  0.75rem;
	text-transform: uppercase;
}

tbody tr {
	padding: 1rem 0 ;
	font-size: 1rem;
	border-bottom: 1px solid #c0c0c0;
}

tbody tr:first-child {
	border-top: 1px solid #c0c0c0;
}

.gold, .silver, .bronze {
	font-weight: 700;
}

.gold {
	color: #ffd700;
}

.silver {
	color: #c0c0c0;
}

.bronze {
	color: #cd7f32;
}

.flag {
	grid-area: image;
	height: 2rem;
}
.nation span {
	grid-area: span;
	vertical-align: text-bottom;
	font-weight: 400;
	font-size: 1rem;
}
.nation {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 0.5rem;
	place-items: center;
	align-content: center;
	grid-template-areas: 
	"image . span";
}

#mytables {
	margin-bottom: 5rem;
}

#mytables .nation {
	display: table-cell;
}

.a-name {
	text-align: start;
}

.time {
	text-align: end;
}

.race-result {
	display: none;
}

tfoot tr { 
	font-weight: 500;
	text-align: start;
	
}

.uomTrack td {
	padding: 1rem 1rem;
}

.uomTrack .copy-button {
	background-image: url(../images/SVG/copy.svg);
	background-color: white;
	background-repeat: no-repeat;
	margin-right: 0.5rem;
	height: 1.5rem;
  	width: 1.5rem;
	border: none;
}

.uomTrack .delete-button {
	background-image: url(../images/SVG/trash.svg);
	background-color: white;
	background-repeat: no-repeat;
	margin-left: 0.5rem;
	height: 1.5rem;
  	width: 1.5rem;
	border: none;
}
.uomTrack .buttons {
	display: flex;
}

.uomTrack .copy-button:hover, .delete-button:hover {
	cursor: pointer;
}

.uomTrack .nation {
	display: table-cell;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
	width: 100%;
	height: 1.5rem;
	padding: 0.2rem 0.5rem;
	border: 3px solid #c0c0c0;
	border-radius: 0.2rem;
	outline: none;
	transition: 0.8s;
}

.uomTrack input[type="number"] {
	text-align: center;
}

input:focus {
	border: 3px solid #555;
}

.sorted {
	color: #000000;
}

.tablediv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	margin: 0 2.5rem;
}

#search-field {
	height: 2rem;
	padding: 0.2rem 0.5rem;

}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	background-color: #000000;
	color: #fff;
}

.foot-nav a {
	color: #fff;
}

.foot-nav a:hover {
	color: rgba(255, 255, 255, 0.911);
}

.foot-nav {
	display: flex;
	justify-content:center;
	gap: 7.5%;
	padding-top: 3.5%;
	margin: 0 10% 2% 10%;
}

.foot-nav li > ul {
	display: flex;
	flex-direction: column;
}

.up-link { 
	font-weight: 400;
	font-size: 1.5rem;
}

.up-link li {
	margin: 7.5% 0;
	font-weight: 300;
	font-size: 1rem;
}

.up-link li:first-child {
	margin-top: 15%;
}

.contact {
	background: linear-gradient(to right, #fff 0, #c0c0c0 25%, #c0c0c0 75%, #fff 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-weight: 300;
	font-size: 1.5rem;
}

.contact h5 {
	padding-top: 1rem;
}

.contact-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20%;
	padding: 1rem 0;
}

.contact-links img {
	height: 2.75rem;
	width: 2.75rem;
}

.copy {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2% 0;
	font-weight: 300;
	font-size: 1.25rem;
}

/*
  ========================================
  Main
  ========================================
*/

.tourn {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	background: linear-gradient(to right, #fff 0, #c0c0c0 35%, #c0c0c0 65%, #fff 100%);
	color: #000000;
}

.type-1, .type-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #fff 0, #c0c0c0 35%, #c0c0c0 65%, #fff 100%);
	background-color: #000000;
	color: #000000;
}

.type-1:hover, .type-2:hover {
	background: #000000;
}

.type-1:hover a, .type-2:hover a {
	color: #fff;
}

.type-1 img {
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.type-2 img {
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.type-1 img, .type-2 img  {
	width: 47.5%;
	max-width: 100%;
	height: auto;
}

.tourn h2 {
	margin: 5% 10%;
	align-self: center;
	text-align: center;
}

.tourn h4 {
	text-align: center;
}

.type-1 h4 {
	margin-left: 10%;
	margin-right: 12.5%;
}

.type-2 h4 {
	margin-right: 10%;
	margin-left: 12.5%;
}

p {
	font-size: 1.5rem;
	margin: 0 5rem;
	margin-bottom: 7.5%;
}

/*
  ========================================
  Fieldset
  ========================================
*/

#eventdistance {
	margin: 1rem 1rem;
}

fieldset {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 2rem 0 4rem 0;
}

.form-item {
	display: flex;
	padding: 0;
	gap: 0.5rem
}

label {
	font-size: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 2rem;
}

#createtable {
	max-width: fit-content;
}

select {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 1.2rem;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 0.5rem;
	outline: none;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}
  
select:disabled {
	pointer-events: none;
}
  
select:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
  
select:active {
	box-shadow: none;
	transform: translateY(0);
	color: #fff;
	background-color: #1A1A1A;
}

/*
  ========================================
  Install
  ========================================
*/

#placeholder {
	visibility: hidden;
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 1.2rem;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 0.5rem;
	outline: none;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}

#placeholder:disabled {
	pointer-events: none;
	visibility: hidden;
}
  
#placeholder:hover {
	visibility: hidden;
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
  
#placeholder:active {
	visibility: hidden;
	box-shadow: none;
	transform: translateY(0);
	color: #fff;
	background-color: #1A1A1A;
}

#install {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 1.2rem;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 0.5rem;
	max-height: 3rem;
	outline: none;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}

#install:disabled {
	pointer-events: none;
}
  
#install:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
  
#install:active {
	box-shadow: none;
	transform: translateY(0);
	color: #fff;
	background-color: #1A1A1A;
}

.add-to-home {
	display: flex;
	justify-content: space-around;
}

/*
  ========================================
  Content
  ========================================
*/

.results {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
}

.results h2 {
	margin-bottom: 3rem;
	font-size: 3.75rem;
	align-self: center;
	text-align: center;
	padding: 0 10%;
}

.results h3 {
	font-size: 2rem;
	margin-bottom: 4rem;
	text-align: center;
}

/*
  ========================================
  Select
  ========================================
*/

select {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 1.2rem;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 0.5rem;
	min-width: 0;
	outline: none;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}
  
select:disabled {
	pointer-events: none;
}
  
select:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
  
select:active {
	box-shadow: none;
	transform: translateY(0);
	color: #fff;
	background-color: #1A1A1A;
}

option {
	font-family: inherit;
}
.selects{
	margin: 0 3rem;
}


/*<!-- HTML !-->
/* <button class="button-28" role="button">Button 28</button>

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 1.2rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0.5rem;
  outline: none;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/*
  ========================================
  Screen
  ========================================
*/

@media  all and (max-width:800px) {
	html {
		font-size: 1rem;
		font-weight: 400;
	}

	table {
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 100%;
	}

	th, td {
		padding: 1rem 1.5rem;
		margin: 0 0.5rem;
	}

	.uomTrack th, .uomTrack td {
		padding: 1rem 0.75rem;
		margin: 0 0.25rem;
	}

	.gold, .silver, .bronze {
		font-weight: 400;
		font-size: 100%;
	}

	.lane {
		display: none;
	}

	.results h2 {
		font-size: 275%;
		font-weight: 700;
		text-align: center;
	}

	.results h3 {
		font-size: 200%;
		text-align: center;
	}

	.selects {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1.5rem 0.5rem;
	}

	select {
		font-size: 1rem;
		margin: 1rem 0 1rem;
		overflow: hidden;
	}

	.type-1 img, .type-2 img  {
		width: 55%;
		max-width: 100%;
		height: auto;
	}

	.type-1 a, .type-2 a {
		font-size: 1.45rem;
	}

	.header-links a {
		font-size: 1.5rem;
	}

	.title-main {
		padding: 3.5rem 0 3rem;
		font-size: 4rem;
	}

	.intro {
		font-size: 2rem;
	}

	.header-table {
		display: flex;
		flex-direction: column;
		padding: 5% 0 5% 0;
		gap: 1.5rem;
	}

	.title-table {
		font-size: 3.5rem;
		font-weight: 700;
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}

	.table-links {
		font-size: 1.25rem;
		font-weight: 400;
		gap: 2rem;
	}

	.header-links {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.up-link {
		font-size: 1.20rem;
	}

	.contact h5 {
		font-size: 1.25rem;
	} 

	.copy {
		font-size: 1rem;
	}

	.foot-nav {
		gap: 1.25rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
	.tourn h2 {
		font-size: 2rem;
	}

	p {
		font-size: 1.25rem;
	}
}

@media  all and (max-width:400px) {
	html {
		font-size: 1rem;
	}

	.foot-nav{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 3fr;
		grid-template-areas: 
		"link-1 link-2"
		"link-3 link-4";
		padding-bottom: 1rem;
		column-gap: 5%;
	}
	.link-1 {
		grid-area: link-1;
	}
	.link-2 {
		grid-area: link-2;
	}
	.link-3 {
		grid-area: link-3;
	}
	.link-4 {
		grid-area: link-4;
	}
	.nav-link {
		text-align: center;
	}
	.up-link li {
		font-size: 0.75rem;
	}
	.up-link {
		font-size: 1rem;
	}
	.contact-links img {
		height: 2rem;
		width: 2rem;
	}
	.contact h5{
		font-size: 1rem;
	}
	.copy {
		font-size: 0.75rem;
	}

	thead{
		display: none;
	}
	td {
		font-size: 1.5rem;
		margin: 0 0.25rem;
		text-align:start;
	}
	tbody {
		padding: 0 2rem;
	}
	tr {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template: 
		"pos name"
		". nation"
		". time" / 0.5fr 2fr;
		grid-template-areas: 
		"pos name"
		". nation"
		". time";
		justify-items: start;
		align-content: stretch;
		justify-content: stretch;
		column-gap: 1rem;
		row-gap: 1rem;
	}
	.position{
		grid-area: pos;
		text-align:center;
		justify-self: start;
		font-size: 1.5rem;
	}
	.a-name{
		grid-area: name;
		justify-self: start;
	}
	.nation{
		grid-area: nation;
		text-align:start;
		font-size: 1.5rem;
	}
	.time {
		grid-area: time;
		justify-self: start;
	}
	.note {
		display: none;
	}
	.race-result{
		display: contents;
	}

	.tourn img {
		width: 75%;
		max-width: 80%;
		height: auto;
	}

	.type-1 a, .type-2 a {
		font-size: 1rem;
	}

	.header-links a {
		font-size: 1.2rem;
	}

	.title-main {
		padding: 3.5rem 0 3rem;
		font-size: 2.75rem;
	}

	.intro {
		font-size: 1rem;
	}

	.tourn h2 {
		font-size: 1.25rem;
	}

	.title-table {
		font-size: 2rem;
		font-weight: 700;
	}

	.table-links {
		font-size: 1rem;
		font-weight: 400;
		gap: 2rem;
	}

	p {
		font-size: 1rem;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}

	tfoot tr {
		display: flex;
		flex-direction: column;
	}
	tfoot td {
		font-size: 1rem;
	}
}

